# project specific variables
GIN_MODE=release
APP_NAME=pharma-crm-backend
APP_VERSION=1.0.0
LOG_LEVEL=debug

# server http port
HTTP_PORT=8080

# postgres required variables
PG_POOL_MAX=2 # postgres pool max
PG_HOST=localhost
PG_PORT=5432
PG_USER=db_user
PG_PASS=password
PG_DB=db_name

# secret keys for jwt
SECRET_KEY=secret_key

# hesh key for hash password
HESH_KEY=hash_key

# 1c required variables
PASSWORD_1C=password