# project specific variables
GIN_MODE=release
APP_NAME=pharma-crm-backend
APP_VERSION=1.0.0
LOG_LEVEL=debug

# server http port
HTTP_PORT=8080

# postgres required variables
PG_POOL_MAX=2 # postgres pool max
PG_HOST=localhost
PG_PORT=5432
PG_USER=devuser
PG_PASS=pass123word
PG_DB=pharma_dev

# secret keys for jwt
SECRET_KEY=secretkey1234567890

# hesh key for hash password
HESH_KEY=heshkey-1234567890abcdef

# 1c required variables
PASSWORD_1C=password1234567890

# click endpoint url
CLICK_ENDPOINT_URL=https://example.com/v2/merchant

# Uzum endpoint base url
UZUM_ENDPOINT_URL=https://example.com/api/apelsin-pay/merchant

# Payme Go endpoint base url
PAYME_GO_ENDPOINT_URL=https://example.com/api

# External API basic auth
EXTERNAL_API_USERNAME=externalapiuser
EXTERNAL_API_PASSWORD=externalapipassword123

# 1C BASE URL
BASE_URL_1C=http://example.com/SQL_TRADE/hs/pharma_cosmos
BASE_USERNAME_1C=testuser
BASE_PASSWORD_1C=password123

# SOLIQ IKPU BASE URL
SOLIQ_IKPU_BASE_URL=https://example.com/api/cls-api/attribute